<h1>Admin Page</h1>
<p>Approved Admin Only Access</p>
<%= link_to "Return to Home Page",  root_path%>
<% if (current_user.admin?) and (current_user.approved)%>
  <p>Reload Database from OSU Course Catalog</p>
<%=link_to "Reload Courses", reload_db_path%>
  <p>This may take a little while.</p>
<div style="overflow-x:auto">
  <table>
    <thead>
      <tr>
        <th>Not Approved Emails</th>
        <th>User role</th>
        <th>Button</th>
      </tr>
    </thead>
    <tbody>
      <% User.all.each do |user| %>
        <%if user.approved == nil and (user.role == "instructor" or user.role == "admin")%>
          <tr>
            <td><%= user.email %> </td>
            <td><%= user.role %> </td>
            <td> <%= link_to "Approve", approve_user_path(user) %></td>
          </tr>
          <% end %>
        <% end %>
    </tbody>
  </table>
</div>
<%end%>
