<h1>Admin courses overview</h1>

<p>Courses</p>

<div style="overflow-x:auto">
  <table>
    <thead>
    <tr>
      <th>Id</th>
      <th>Subject</th>
      <th><%= link_to "Course Number", :sort => "CourseNumber" %></th>
      <th><%= link_to "Course Name", :sort => "CourseName" %></th>
      <th><%= link_to "Campus", :sort => "Campus" %></th>
      <th><%= link_to "Career", :sort => "Career" %></th>
      <th>Operation</th>
    </tr>
    </thead>

    <tbody>
    <% @courses.each do |course| %>
      <% course_id = course.id %>
      <tr>
        <td><%= course.id %></td>
        <td><%= course.Subject %></td>
        <td><%= course.CourseNumber %></td>
        <td><%= course.CourseName %></td>
        <td><%= course.Campus %></td>
        <td><%= course.Career %></td>
      </tr>

      <% Section.where(["course_id = ?", course_id]).each do |section| %>
        <tr>
          <td><%= section.SectionNumber%></td>
          <td><%= section.Term %></td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>


  <h2>Add course</h2>
  <%= form_with model: Course do |form| %>
    <p>
      <%= form.label :CourseNumber %> <br>
      <%= form.text_field :CourseNumber %>
    </p>
  <% end %>

  <h2>Delete course</h2>
  <%= form_with model: Course do |form| %>
    <p>
      <%= form.label :CourseId %> <br>
      <%= form.text_field :CourseId %>
    </p>
  <% end %>

  <h2>Change course</h2>
  <%= form_with model: Course do |form| %>
    <p>
      <%= form.label :CourseId %> <br>
      <%= form.text_field :CourseId %>
    </p>
  <% end %>


  <%= link_to "Reload", admin_courses_path, class: "#{'font-weight-bold' if current_page?(admin_courses_path)}" %>



</div>

<%== pagy_nav(@pagy) %>