<h1>Courses page</h1>
<% if current_user%>
<p>Welcome to the courses database.</p>
<div style="overflow-x:auto">
  <table>
    <thead>
    <tr>
      <th>Id</th>
      <th>Subject</th>
      <th><%= link_to "Course Number", :sort => "CourseNumber" %></th>
      <th><%= link_to "Course Name", :sort => "CourseName" %></th>
      <th><%= link_to "Campus", :sort => "Campus" %></th>
      <th><%= link_to "Career", :sort => "Career" %></th>
      <th>Operation</th>
    </tr>
    </thead>

    <tbody>
    <% @courses.each do |course| %>
      <% course_id = course.id %>
      <tr>
        <td><%= course.id %></td>
        <td><%= course.Subject %></td>
        <td><%= course.CourseNumber %></td>
        <td><%= course.CourseName %></td>
        <td><%= course.Campus %></td>
        <td><%= course.Career %></td>
      </tr>

      <% Section.where(["course_id = ?", course_id]).each do |section| %>
        <tr>
          <td><%= section.SectionNumber%></td>
          <td><%= section.Term %></td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>


<%== pagy_nav(@pagy) %>
<%else%>
  <p>Must be signed in to view the courses database.
<% end %>

