<h1>Courses page</h1>
<% if current_user %>
  <p>Welcome to the courses database.</p>
  <%= link_to "Home page", root_path %>
  <h4> Search by course number </h4>
  <%= form_tag(courses_path, method: :get) do %>
    <%= text_field_tag(:search, params[:search]) %>
    <%= submit_tag ("Search") %>
  <% end %>


  <div style="overflow-x:auto">
    <% if current_user.admin? %>
      <%= link_to "Add Course", add_course_path %>
    <% end %>
    <table border=1>
      <tr>
        <th>Id</th>
        <th>Subject</th>
        <th><%= link_to "Course Number", :sort => "CourseNumber" %></th>
        <th><%= link_to "Course Name", :sort => "CourseName" %></th>
        <th><%= link_to "Campus", :sort => "Campus" %></th>
        <th><%= link_to "Career", :sort => "Career" %></th>
        <% if current_user.admin? %>
          <th>Operations</th>
        <% end %>
      </tr>
      <% @courses.each do |course| %>
        <tr>
          <td style="font-weight: bold"><%= course.id %></td>
          <td style="font-weight: bold"><%= course.Subject %></td>
          <td style="font-weight: bold"><%= course.CourseNumber %></td>
          <td style="font-weight: bold"><%= course.CourseName %></td>
          <td style="font-weight: bold"><%= course.Campus %></td>
          <td style="font-weight: bold"><%= course.Career %></td>
          <% if current_user.admin? %>
            <td><%= link_to "Delete", delete_course_path(course) %></td>
            <td><%= link_to "Edit", edit_course_path(course) %></td>
          <% end %>
        </tr>
        <tr>
          <% if not Section.where(["course_id = ?", course.id]).first %>
            <td>No Sections</td>
          <% else %>
            <td>Sections</td>
            <td>
              <table>
                <thead>
                <tr>
                  <td>Section Number</td>
                  <td>Term</td>
                  <% if current_user.admin? %>
                    <td>Operations</td>
                  <% end %>
                </tr>
                </thead>
                <tbody>
                <% Section.where(["course_id = ?", course.id]).each do |section| %>
                  <tr>
                    <td><%= section.SectionNumber %></td>
                    <td><%= section.Term %></td>
                    <% if current_user.admin? %>
                      <td><%= link_to "Delete", delete_section_path(section) %></td>
                      <td><%= link_to "Edit", edit_section_path(section) %></td>
                    <% end %>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </tr>
          <% end %>
      <% end %>
    </table>
    </td>
  </div>

  <%== pagy_nav(@pagy) %>
<% else %>
  <p>Must be signed in to view the courses database.
    <%= link_to "Home page", root_path %>
<% end %>

