<h1>Courses page</h1>
<% if current_user%>
<p>Welcome to the courses database.</p>
  <%= link_to "Home page", root_path%>
  <br>
<div style="overflow-x:auto">
  <%if current_user.admin? %>
    <%= link_to "Add Course", add_course_path %>
    <%= link_to "Add Section", add_section_path %>
  <%end %>
  <table>
    <thead>
    <tr>
      <th>Id</th>
      <th>Subject</th>
      <th><%= link_to "Course Number", :sort => "CourseNumber" %></th>
      <th><%= link_to "Course Name", :sort => "CourseName" %></th>
      <th><%= link_to "Campus", :sort => "Campus" %></th>
      <th><%= link_to "Career", :sort => "Career" %></th>
      <%if current_user.admin? %>
      <th>Operations</th>
      <%end %>
    </tr>
    </thead>

    <tbody>
    <% @courses.each do |course| %>
      <% course_id = course.id %>
      <tr>
        <td><%= course.id %></td>
        <td><%= course.Subject %></td>
        <td><%= course.CourseNumber %></td>
        <td><%= course.CourseName %></td>
        <td><%= course.Campus %></td>
        <td><%= course.Career %></td>
        <%if current_user.admin? %>
          <td><%= link_to "Delete", delete_course_path(course) %></td>
          <td><%= link_to "Edit", edit_course_path(course) %></td>
        <%end %>
      </tr>
      <% Section.where(["course_id = ?", course_id]).each do |section| %>
        <tr>
          <td><%= section.SectionNumber%></td>
          <td><%= section.Term %></td>
          <%if current_user.admin? %>
            <td><%= link_to "Delete", delete_section_path(course) %></td>
            <td><%= link_to "Edit", edit_section_path(course) %></td>
          <%end %>
        </tr>
    <%end %>
    <% end %>
    </tbody>
  </table>
</div>


<%== pagy_nav(@pagy) %>
<%else%>
  <p>Must be signed in to view the courses database.</p>
  <%= link_to "Home page", root_path%>
<% end %>

