<!DOCTYPE html>
<html lang="en">
  
  <head>
    <title>Course Database</title>
    
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <% unless current_page?(root_path) %>
    <%= button_to "Home Page", root_path, :method => :get %>
  <% end %>
  <%=yield %>
  </body>
</html>
