<h1>Admin Page</h1>
<p>Approved Admin Only Access</p>
<% if (current_user.admin?) and (current_user.approved) %>
  <p>Reload Database from OSU Course Catalog, please be patient as this operation may take a couple of minutes</p>
  <%= button_to "Reload Courses", reload_db_path %>

  <p>Users pending approval:</p>
  <div style="overflow-x:auto">
    <table border=1>
      <thead>
      <tr>
        <th>Required Approval</th>
        <th>User role</th>
        <th>Button</th>
      </tr>
      </thead>
      <tbody>
      <% User.where(["approved IS ? and role > ?", nil, 0]).each do |user| %>
          <tr style="font-weight:bold">
            <td><%= user.email %> </td>
            <td><%= user.role %> </td>
            <td><%= button_to "Approve", approve_user_path(user), form_class: 'tableform', class: 'tablebutton' %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <p> Grader applications:</p>
    <table border=1 style="width:20%">
      <thead>
      <tr>
        <th>Student ID</th>
        <th>Student Email</th>
      </tr>
      </thead>
      <tbody>
      <% Graderform.all.each do |graderform| %>
        <tr>
          <td style="font-weight:bold"><%= graderform.student_id %> </td>
          <td><%=User.find(graderform.student_id).email %></td>
          <td class="shrink"><%= button_to "View Form", show_graderform_path(graderform), :method =>:get, form_class: 'tableform', class: 'tablebutton' %> </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>
