<h1>Admin Page</h1>
<p>Approved Admin Only Access</p>
<%= button_to "Home Page", root_path, :method => :get %>
<% if (current_user.admin?) and (current_user.approved)%>
  <p>Reload Database from OSU Course Catalog</p>
  <%=link_to "Reload Courses", reload_db_path%>
  <p>This may take a little while.</p>

<div style="overflow-x:auto">
  <table border=1>
    <thead>
      <tr>
        <th>Required Approval</th>
        <th>User role</th>
        <th>Button</th>
      </tr>
    </thead>
    <tbody>
      <% User.all.each do |user| %>
        <%if user.approved == nil and (user.role == "instructor" or user.role == "admin")%>
          <tr>
            <td style="font-weight:bold"><%= user.email %> </td>
            <td style="font-weight:bold"><%= user.role %> </td>
            <td style="font-weight:bold"><%= link_to "Approve", approve_user_path(user) %></td>
          </tr>
          <% end %>
        <% end %>
    </tbody>
  </table>

  <table border=1>
    <thead>
      <p> Grader application </p>
      <tr>
        <th>Student ID</th>
        <th>Application Forms</th>
        <th>Deny Forms</th>
       </tr>
    </thead>

    <tbody>
    <% Graderform.all.each do |graderform| %>
        <tr>
          <td style="font-weight:bold"><%= graderform.student_id  %> </td>
          <td align="center"><%= link_to "View Form", show_graderform_path(graderform)%> </td>
          <td align="center"><%= link_to "Deny Form", delete_graderform_path(graderform)%> </td>
        </tr>

    <% end %>
    </tbody>
  </table>
</div>
<%end%>
