<%= button_to "Home Page", root_path, :method => :get %>
<h1>Admin Page</h1>
<p>Approved Admin Only Access</p>
<% if (current_user.admin?) and (current_user.approved) %>
  <p>Reload Database from OSU Course Catalog, please be patient as this operation may take a couple of minutes</p>
  <%= button_to "Reload Courses", reload_db_path %>

  <p>Users pending approval:</p>
  <div style="overflow-x:auto">
    <table border=1>
      <thead>
      <tr>
        <th>Required Approval</th>
        <th>User role</th>
        <th>Button</th>
      </tr>
      </thead>
      <tbody>
      <% User.where(["approved = ? and (role = ? or role = ?)", nil, "instructor", "admin"]) do |user| %>
          <tr>
            <td style="font-weight:bold"><%= user.email %> </td>
            <td style="font-weight:bold"><%= user.role %> </td>
            <td style="font-weight:bold"><%= link_to "Approve", approve_user_path(user) %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <p> Grader applications:</p>
    <table border=1>
      <thead>
      <tr>
        <th>Student ID</th>
        <th>Application Forms</th>
      </tr>
      </thead>
      <tbody>
      <% Graderform.all.each do |graderform| %>
        <tr>
          <td style="font-weight:bold"><%= graderform.student_id %> </td>
          <td align="center"><%= link_to "View Form", show_graderform_path(graderform) %> </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>
