<h1>Grader Page</h1>
<p>Please input all of your information in the form below to apply for a grader position.</p>
<%= button_to "Home Page", root_path, :method => :get %>
<div style="overflow-x:auto">
  <%= form_with(model: Grader.new) do |form| %>
    <div class="field">
      <%= form.label :email, 'E-mail'%>
      <%= form.text_field :email%>

      <%= form.label :CourseNumber, 'Course Number'%>
      <%= form.number_field :CourseNumber%>
    </div>

    <div class="field">
      <%= form.label :Grade%>
      <%= form.number_field :Grade%>
    </div>
    <p> Please write out when you are available for the upcoming semester such as this example:<br>S: UNAVAILABLE<br>M: 8-11am,2-4pm<br>T: 8-10am,1-3pm<br>W: 8-11am,2-4pm<br>Th: 8-10am,1-3pm<br>F: 8-11am,2-4pm<br>Sa: AVAILABLE</p>
    
    <div class="field">
      <%= form.label :Availability%>
      <%= form.text_field :Availability%>
    </div>
</div>
<%end%>
