<h1>Courses page</h1>
<% if current_user %>
  <p style="width:50%">Welcome to the courses database. Click on the table headers
  to sort courses by those attributes. You may also search for courses by course number.
    Courses will have a sub-table of sections in the row below the course listing.</p>
  <% if current_user.admin? and current_user.approved %>
    <p>As an admin, you can add courses and section with the button below. You can also delete/edit courses and sections
    by clicking on the delete/edit buttons next to the corresponding courses and sections.</p>
    <%= button_to "Add Course", add_course_path, :method => :get %>
    <%= button_to "Add Section", add_section_path, :method => :get %>
  <% end %>
  <h4> Search by course number </h4>
  <%= form_tag(courses_path, method: :get) do %>
    <%= text_field_tag(:search, params[:search]) %>
    <%= submit_tag("Search") %>
  <% end %>


  <div style="overflow-x:auto">
    <table border=1 style="width:100%">
      <tr>
        <th>Subject</th>
        <th><%= link_to "Course Name", :sort => "CourseName" %></th>
        <th><%= link_to "Course Number", :sort => "CourseNumber" %></th>
        <th><%= link_to "Campus", :sort => "Campus" %></th>
        <th><%= link_to "Career", :sort => "Career" %></th>
        <th>ID</th>
      </tr>
      <% @courses.each do |course| %>
        <tr style="font-weight: bold">
          <td class="shorter_text"><%= course.Subject %></td>
          <td><%= course.CourseName %></td>
          <td class="shorter_text"><%= course.CourseNumber %></td>
          <td><%= course.Campus %></td>
          <td><%= course.Career %></td>
          <td><%= course.id %></td>
          <% if current_user.admin? %>
            <td class="shrink"><%= button_to "Edit", edit_course_path(course), :method =>:get, form_class: 'tableform', class: 'tablebutton'%></td>
            <td class="shrink"><%= button_to "Delete", delete_course_path(course), form_class: 'tableform', class: 'tabledeletebutton'%></td>
          <% end %>
        </tr>
        <tr>
          <% if not Section.where(["course_id = ?", course.id]).first %>
            <th>No Sections</th>
          <% else %>
            <th>Sections</th>
            <td colspan="100%">
              <table style="width:100%">
                <thead>
                <tr style="font-weight: bold">
                  <td>Section Number</td>
                  <td>Term</td>
                  <td>Meeting Time</td>
                  <td>Max Graders</td>
                  <td>Graders</td>
                </tr>
                </thead>
                <tbody>
                <% Section.where(["course_id = ?", course.id]).each do |section| %>
                  <tr>
                    <td class="shorter_text"><%= section.SectionNumber %></td>
                    <td class="shorter_text"><%= section.Term %></td>
                    <td class="meetingtime"><%= section.MeetingTime %></td>
                    <td class="shorter_text"><%= section.MaxGraders %></td>
                    <td>
                      <% Graderassignment.where(["section_id = ?", section.id]).each do |assignment| %>
                        <%= User.find(assignment.student_id).email %>
                      <% end %>
                    </td>
                    <% if current_user.admin? %>
                      <td class="shrink"><%= button_to "Edit", edit_section_path(section), :method =>:get ,form_class: 'tableform', class: 'tablebutton'%></td>
                      <td class="shrink"><%= button_to "Delete", delete_section_path(section), form_class: 'tableform', class: 'tabledeletebutton' %></td>
                    <% end %>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>

  <%== pagy_nav(@pagy) %>
<% else %>
  <p>Must be signed in to view the courses database.
    <%= button_to "Home Page", root_path, :method => :get %>
<% end %>

