<h1>Courses page</h1>
<% if current_user %>
  <p>Welcome to the courses database.</p>
  <%= button_to "Home Page", root_path, :method => :get %>
  <% if current_user.admin? and current_user.approved %>
    <%= button_to "Add Course", add_course_path, :method => :get %>
    <%= button_to "Add Section", add_section_path, :method => :get %>
  <% end %>
  <h4> Search by course number </h4>
  <%= form_tag(courses_path, method: :get) do %>
    <%= text_field_tag(:search, params[:search]) %>
    <%= submit_tag("Search") %>
  <% end %>


  <div style="overflow-x:auto">
    <table border=1>
      <tr>
        <th>Subject</th>
        <th><%= link_to "Course Name", :sort => "CourseName" %></th>
        <th><%= link_to "Course Number", :sort => "CourseNumber" %></th>
        <th><%= link_to "Campus", :sort => "Campus" %></th>
        <th><%= link_to "Career", :sort => "Career" %></th>
      </tr>
      <% @courses.each do |course| %>
        <tr>
          <td style="font-weight: bold"><%= course.Subject %></td>
          <td style="font-weight: bold"><%= course.CourseName %></td>
          <td style="font-weight: bold"><%= course.CourseNumber %></td>
          <td style="font-weight: bold"><%= course.Campus %></td>
          <td style="font-weight: bold"><%= course.Career %></td>
          <% if current_user.admin? %>
            <td><%= link_to "Delete", delete_course_path(course) %></td>
            <td><%= link_to "Edit", edit_course_path(course) %></td>
          <% end %>
        </tr>
        <tr>
          <% if not Section.where(["course_id = ?", course.id]).first %>
            <td>No Sections</td>
          <% else %>
            <td>Sections</td>
            <td style="column-span: all">
              <table>
                <thead>
                <tr>
                  <td align="center">Number</td>
                  <td align="center">Term</td>
                  <td align="center">Meeting Time</td>
                  <td align="center">Max Graders</td>
                  <td align="center">Graders</td>
                </tr>
                </thead>
                <tbody>
                <% Section.where(["course_id = ?", course.id]).each do |section| %>
                  <tr align="center">
                    <td align="center"><%= section.SectionNumber %></td>
                    <td align="center"><%= section.Term %></td>
                    <td align="center"><%= section.MeetingTime %></td>
                    <td align="center"><%= section.MaxGraders %></td>
                    <td align="center">
                      <% Graderassignment.where(["section_id = ?", section.id]).each do |assignment| %>
                        <%= User.find(assignment.student_id).email %>
                      <% end %>
                    </td>
                    <% if current_user.admin? %>
                      <td align="center"><%= link_to "Delete", delete_section_path(section) %></td>
                      <td align="center"><%= link_to "Edit", edit_section_path(section) %></td>
                    <% end %>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>

  <%== pagy_nav(@pagy) %>
<% else %>
  <p>Must be signed in to view the courses database.
    <%= button_to "Home Page", root_path, :method => :get %>
<% end %>

