<h1>Edit Section</h1>
<% if current_user.admin? and current_user.approved%>
  <p>Fill in the section information below.</p>
  <%= form_with model: section, url: update_section_path, method: :patch, local: true, scope: :section do |form| %>

    <div class="field">
      <%= form.label :SectionNumber, 'Section Number'%>
      <%= form.number_field :SectionNumber %>
    </div>

    <div class="field">
      <%= form.label :Term %>
      <%= form.text_field :Term %>
    </div>

    <div class="field">
      <%= form.label :MaxGraders, 'MaxGraders'%>
      <%= form.number_field :MaxGraders %>
    </div>

    <div class="actions">
      <%= form.submit 'Update Section'%>
    </div>
  <% end %>
<% else %>
  <p>You have to be an admin to edit a section.</p>
<% end %>
